.form_div {
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .event_title {
    margin: 0 auto;
    height: 50px;
    margin-bottom: 10px;
    width: 90%;
    .input_div {
      display: flex;
      flex-direction: column;
      width: 75%;
      height: 40px;
    }
  }
}

.input_div {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 7px 0;
  min-height: 40px;
  .select_input {
    height: 35px;
  }
  .input {
    height: 35px;
  }
}
.text_div {
  margin: 7px 0;
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 90px;
  .text_input {
    height: 100%;
  }
}

.upper_div {
  display: grid;
  grid-template-columns: 60% 35%;
  align-items: center;
  justify-content: space-between;
}
.amount_div {
  width: 100%;
  display: grid;
  grid-template-columns: 60% 35%;
  align-items: center;
  justify-content: space-between;
  margin: 4px 0;
}

.error_msg {
  margin: 3px 0;
  height: 30px;
  background-color: brown;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 2px;
  font-size: 1.1rem;
}
